*{
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #1e1e1e;
}

.firstsection {
  display: grid;
  grid-template-columns: repeat(16, 6.25vw);
  grid-template-rows: repeat(3, 6.25vw);
}

section {
  border-radius: 2%;
}

.sec1 {
  background-color: #FF0206;
  background-image: url(../images/sec1.svg);
  background-repeat: no-repeat;
  background-size: 4.8vw 3.9vw;
  background-position: center;
}

.sec2 {
  grid-row: span 2;
  background-image: url(../images/sec2.svg);
  background-repeat: no-repeat;
  background-size: 6.25vw 12.5vw;
}

.sec3 {
  background-color: #FF77E6;
  background-image: url(../images/sec3.svg);
  background-position: center;
  background-size: 5.3vw 4.6vw;
  background-repeat: no-repeat;
}

.sec4 {
  grid-column: span 7;
  background-color: #FFC655;
  display: flex;
  justify-content: space-around;
}

.sec4 img {
  height: 4.7vw;
  margin-top: 2%;
}

.sec5 {
    grid-column: span 4;
  grid-row: span 2;
  background-color: #FF0206;
  display: flex;
}

.sec6 {
  grid-column: span 2;
  background-image: url(../images/sec7.svg);
  background-repeat: no-repeat;
  background-size: 12.5vw 6.25vw;
}


.weinv {
  width: 9.9vw;
  margin: -26% 0 0 6%;
}

.lygor {
  width: 11.25vw;
  margin: -39% 0 0 7%;
}

.uwillcr {
  width: 20.157vw;
  margin: 22% 0 0 -91%;
}

.sec7 {
  background-color: #FF89A5;
  background-image: url(../images/sec8.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.9vw 4.6vw;
} 

.sec8 {
  background-color: #FF0364;
  background-image: url(../images/sec81.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4.5vw 4.6vw;
}

.sec9 {
  background-color: #FF0206;
  background-image: url(../images/sec9.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.485vw 5.46vw;
}

.sec10 {
  background-color: #C5004B;
  background-image: url(../images/sec10.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.536vw 5.536vw;
}

.sec12 {
  background-image: url(../images/sec12.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6.25vw 6.25vw;
}

.sec13 {
  background-image: url(../images/13.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.536vw 5.536vw;
  background-color: #FFA0C2;
}

.sec14 {
  background-image: url(../images/sec14.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.6vw 5.536vw;
  background-color: #FFB2F6;
}

.sec15 {
  background-image: url(../images/sec15.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.536vw 5.536vw;
  background-color: #FF77E6;
}

.sec17 {
  background-color: #FF77E6;
  background-image: url(../images/sec3.svg);
  background-position: center;
  background-size: 5.3vw 4.6vw;
  background-repeat: no-repeat;
  animation: leftmoving 3s ease infinite;
}

@keyframes leftmoving {
  0% {transform: translateX(0);}
  50% {transform: translateX(-6.25vw);}
  100% {transform: translateX(0);}
}

.sec18 {
  background-color: #C5004B;
  background-image: url(../images/sec9.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.485vw 5.46vw;
}

.sec19 {
  background-color: #FF77E6;
  background-image: url(../images/sec19.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3vw 4.7vw;
}

.sec20 {
  background-color: #FF89A5;
  background-image: url(../images/sec20.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.6vw 5.5vw;
}

.sec21 {
  background-color: #D6467D;
}

.sec22 {
  background-image: url(../images/sec22.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6.25vw 6.25vw;
}

.sec23 {
  background-image: url(../images/sec24.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6.25vw 6.25vw;
  background-color: #FFA0C2;
}

.sec24 {
  background-image: url(../images/sec23.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.6vw 5.5vw;
  background-color: #FFA0C2;
}

.sec25 {
  background-color: #FFDB59;
}

.sec26{
  background-color: #D6467D;
}

.sec27 {
  background-image: url(../images/sec25.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6.25vw 6.25vw;
  background-color: #C5004B;
}

.sec28 {
  background-image: url(../images/sec28.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6.25vw 6.25vw;
  animation: rightmoving 3s ease infinite;
}

@keyframes rightmoving {
  0% {transform: translateX(0);}
  50% {transform: translateX(6.25vw);}
  100% {transform: translateX(0);}
}

.sec30 {
  background-color: #C5004B;
  background-image: url(../images/sec14.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.6vw 5.536vw;
}

.sec31 {
  background-color: #FF89A5;
  background-image: url(../images/sec8.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3.9vw 4.6vw;
}

.sec32 {
  background-color: #FF0364;
  background-image: url(../images/sec30.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.6vw 5.5vw;
}

.sec33 {
  background-color: #FF8E90;
}

.secondsection {
  display: grid;
  grid-template-columns: repeat(16, 6.25vw);
  grid-template-rows: repeat(4, 6.25vw);
}

.sec37 {
background-color: #FF0206;
}

.sec38 {
  background-image: url(../images/gift2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6.25vw 6.25vw;
  background-color: #FFA1C2;
}

.sec39{
  grid-column: span 5;
  background-color: #FD161A;
  background-image: url(../images/happy.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27.619vw 4.7vw;
  animation: right 4s ease infinite;
  animation-delay: 0.5s;
}

@keyframes right {
  0% {transform: translateX(0);}
  50% {transform: translateX(18.75vw);}
  100% {transform: translateX(0);}
}

.sec43 {
  background-color: #FF77E6;
  background-image: url(../images/sec3.svg);
  background-position: center;
  background-size: 5.3vw 4.6vw;
  background-repeat: no-repeat;
}

.sec44 {
  grid-column: span 2;
  background-image: url(../images/sec62.svg);
  background-position: center;
  background-size: 12.5vw 6.25vw;
  background-repeat: no-repeat;
}

.sec45 {
  background-image: url(../images/sec81.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4.5vw 4.6vw;
  background-color: #FFB2F6;
}

.sec46 {
  background-image: url(../images/13.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.536vw 5.536vw;
  background-color: #FFA0C2;
}

.sec47 {
  background-image: url(../images/sec9.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.485vw 5.46vw;
  background-color: #D6467D;
}

.sec49 {
  grid-column: span 2;
  background-image: url(../images/sec62.svg);
  background-position: center;
  background-size: 12.5vw 6.25vw;
  background-repeat: no-repeat;
  animation: leftmoving 3.5s ease infinite;
}

.sec50 {
  grid-column: span 11;
  background-color: #FD161A;
  background-image: url(../images/valent.svg);
  background-size: 65vw 4.7vw;
  background-repeat: no-repeat;
  background-position: center;
}

.sec51 {
  background-image: url(../images/sec14.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.6vw 5.536vw;
  background-color: #FFB2F6;
}

.sec52 {
  grid-row: span 2;
  background-image: url(../images/sec52.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6.25vw 12.5vw;
}

.sec53 {
  background-color: #FD161A;
}

.sec54 {
  background-color: #D6467D;
}
.sec55 {
  background-image: url(../images/13.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.536vw 5.536vw;
  background-color: #FFA0C2;
}

.sec56 {
  background-color: #FFC655;
}

.sec57 {
  background-color: #FFB2F6;
  background-image: url(../images/sec57.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.536vw 5.536vw;
}

.sec58 {
  background-image: url(../images/sec58.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6.25vw 6.25vw;
}

.sec59 {
  background-color: #FFA1C2;
}

.sec60 {
  background-color: #FFC655;
}

.sec61 {
  background-color: #FFB2F6;
    background-image: url(../images/gift3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6.25vw 6.25vw;
}

.sec62 {
  background-color: #FF8E90;
  background-image: url(../images/sec81.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4.5vw 4.6vw;
}